/* This file is for your main application css. */
code {
  font-family: "Roboto Mono", monospace;
}
.margin-top-2x {
  margin-top: 2rem;
}
.margin-left {
  margin-left: 15px;
}
nav .brand-logo {
  font-size: 1.7rem;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.turbolinks-progress-bar {
  height: 2px;
  background-color: #2196F3;
}

input[type="text"].deep-orange-input:focus, input[type="email"].deep-orange-input:focus,
input[type="password"].deep-orange-input:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #64B5F6;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #2196F3;
    left: 24px;
}
.btn.btn-card {
  box-shadow: none;
  color: white;
  background-color: transparent;
}
