/* This file is for your main application css. */
.margin-top-2x {
  margin-top: 2rem;
}
.margin-left {
  margin-left: 15px;
}
nav .brand-logo {
  font-size: 1.7rem;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.turbolinks-progress-bar {
  height: 2px;
  background-color: #2196F3;
}