<div class="row">
  <div class="col s12">
    <h2>Edit client</h2>
  </div>
</div>


<%= render "form.html", changeset: @changeset,
                        action: client_path(@conn, :update, @client) %>
