<div class="row margin-top-2x" >
  <div class="col s12 m6">
    <img src="/images/tree.svg" class="img-responsive center-align" height="500" alt="" />
  </div>
  <div class="col s12 m6 center-align">
    <h2>Feature Yard</h2>
    <p>
      Toggle the features for each client that use your product.
    </p>
    <a class="waves-effect blue waves-light btn-large" href="/clients">
      <i class="material-icons right">arrow_forward</i>Go to clients</a>
  </div>
</div>
