<h2>New feature</h2>

<%= render "form.html", changeset: @changeset,
                        action: client_feature_path(@conn, :create, @client) %>

<%= link "Back", to: client_path(@conn, :index) %>
